h4 {
    margin-top: 10px !important;
}

main > a {
    color: #000000 !important;
    text-decoration: underline !important;
}

#topicos {
    display: flex !important;
    list-style: none;
}

#topicos li {
    display: flex !important;
    align-items: center;
}

#topicos > li > a {
    font-size: 1rem !important;
    padding: 10px;
    text-decoration: none !important;
    color: #000000;
    font-size: 20px;
    border-width: 1px !important;
    border-color: #000;
    border-radius: 10px;
    margin-right: 20px !important;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#titulo {
    display: flex !important;
    align-items: center !important;;
}

.fa-star {
    padding-left: 20px !important;
}

p, h6, ul, a {
    margin-left: 12px !important;
}

i > span {
    font-size: 10px !important;
}